<h1>Lista de Productos</h1>

<ul>
  {{#each products}}
    <li>
      <strong>ID:</strong> {{this._id}}<br>
      <strong>Título:</strong> {{this.title}}<br>
      <strong>Descripción:</strong> {{this.description}}<br>
      <strong>Código:</strong> {{this.code}}<br>
      <strong>Precio:</strong> ${{this.price}}<br>
      <strong>Estado:</strong> {{#if this.status}}Disponible{{else}}No disponible{{/if}}<br>
      <strong>Stock:</strong> {{this.stock}} unidades<br>
      <strong>Categoría:</strong> {{this.category}}<br>
      <a href="/products/{{this._id}}">Ver detalles</a>
      <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
    </li>
    <br>
  {{else}}
    <li>No hay productos disponibles.</li>
  {{/each}}
</ul>

<div>
  {{#if hasPrevPage}}
    <a href="{{prevLink}}">Página anterior</a>
  {{/if}}
  {{#if hasNextPage}}
    <a href="{{nextLink}}">Página siguiente</a>
  {{/if}}
</div>